//cores cinzas
@import url(/responsive.css);

$Cinza-10: #F6F7F9;
$Cinza-20:#F6F7F9;
$Cinza-30:#DEDEDE;

//cores azuis

$azul-gradient: linear-gradient(180deg, #0C78D7 0%, #439DEC 53.65%, #0C78D7 100%, #0C78D7 100%);
$Azulado-claro-10:#248DE9;
$azulado-real-20:#151F35;

//cores marrao

$Marrom-10:#353535;

*{margin: 0; padding: 0; box-sizing: border-box;text-decoration: none; font-family: 'Inter', Sans-serif;}

html{height: 100vh; width: 100%; font-size: 16px;}


.clear {
    clear: both
    ;
}
hr {
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
    opacity: 0.7;
}

.container{
    width: 100%;
    height: 672px;
    
    margin: 0 auto;
    padding: 0 4%;
    background-color: #151F35;
    position: relative;

}

.content-1{
    width: 1100px;
    margin: 0 auto;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    position: relative;

    img {
        width: 100%;
        max-width: 150px;
    }
    
    ul{
        width: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 36px;
        margin-left: 80px;
    }
    a{
        color: white;
        text-transform: capitalize;
        padding-left: 35px;
        font-size: 16px;
        font-weight: 400;
    }
    a:hover{
        font-weight: 500;
    }
}

.menu-princ{
    width: auto;
    padding: 0 5%;
    margin-top: 85.5px;

    h1{
        width: 440px;
        height: 189px;
        font-weight: 700;
        font-size: 42px;
        line-height: 63px;
        color: #fff;

    }
    
    p{
        line-height: 24px;
        font-size: 16px;
            width: 440px;
            height: 72px;
            color: rgba(222, 222, 222, 1);
            margin-top: 34px;
        }
        
        input{
            width: 219px;
            height: 46px;
            margin-top: 34px;
            border-radius: 8px;
            border: 0;
            cursor: pointer;
            
            background-color: $Azulado-claro-10;
            color: #fff;
            
            font-weight: 700;
            font-size: 16px;
        }
}

    .menu{
        width: 100%;
        display: flex;
        justify-content:space-evenly;
        align-items: center;
        margin: 0 auto;
        padding: 0 1%;

        position: relative;
    }

    .menu-image{ 
        margin-top: 76.5px;
        position: relative;
        right: 100px;
    }

    .menu-image > img {
        min-width: 100%;
        width: 100%;
    }

    .content-2{
        height: 281px;
        background-color: #F5F5F5;
        display: flex;
        margin: 0 auto;

        .cont-grafic{
            width: 822px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 0 auto;

            .box{
                margin: 0 auto;
            }
           h2{
            font-weight: 700;
            color: rgba(0, 0, 0, 1);
            font-size: 42px;
            line-height: 63.01px;
            text-align: center;
           }
           p {
            font-weight: 500;
            font-size: 22px;
            color: rgba(53, 53, 53, 1);
    
           }
        }
    }

    .content-3{
        width: 1100px;
        height: 489px;
        margin: 0 auto;
        background-color:rgba(255, 255, 255, 1);

        .banner{
            width: 100%;
            height: 100%;
            margin: 0 auto;
            background-color:white;

            display: flex;
     
            
            .hero-banner{
                margin-top: 93px;

                h1 {
                    width: 495px;
                    height: 126px;
                    font-size: 42px;
                    font-weight: 700;
                    line-height: 63.01px;
                    color: rgba(0, 0, 0, 1);
                }

                p {
                    width: 440px;
                    height: 48px;
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 400;
                    margin-top: 23px;
                    color: $Marrom-10;
                }

                input {
                    width: 244px;
                    height: 46px;
                    line-height: 24px;
                    background-color: $Azulado-claro-10;
                    color: #FFF;
                    font-size: 16px;
                    font-weight: 700;
                    border-radius: 8px;
                    border: none;
                    margin-top: 38px;
                    cursor: pointer;
                }
            }
        }
    }


.card-banner{
    width: 100%;
    height: 304.45px;

    display: flex;
    flex-direction: row;
    margin-top: 93.28px;
   
    
    .box-banner{
        width: 272px;
        height: 304.45px;
        border-radius: 15.2702px;
        background: linear-gradient(180deg, #0C78D7 0%, #439DEC 53.65%, #0C78D7 100%);
        margin-left: 47px;
        
        h4 {
            width:184.2px;
            height:46px;
            margin-top:20px;
            margin-left: 26.72px;
            line-height: 22.91px;
            font-size: 15.27px;
            font-weight: 700;
            color: white;
        }
        p {
            width: 228.1px;
            height: 51px;
            font-size: 11.45px;
            font-weight: 400;
            line-height: 17.18px;
            margin-left: 26.72px;
            margin-top: 19.85px;
            color: rgba(255, 255, 255, 1);
        }
        img {
            margin-top: 30.54px;
            margin-left: 26.72px;
        }
    }
}

.box-banner-2{
    width: 272px;
    height: 304.45px;
    border-radius: 15.2702px;
    margin-left: 7px;
    background: linear-gradient(180deg, #FFFFFF 0%, #EEEEEE 53.65%, #FFFFFF 100%);

    h4 {
        width:184.2px;
        height:46px;
        margin-top:20px;
        margin-left: 26.72px;
        line-height: 22.91px;
        font-size: 15.27px;
        font-weight: 700;
        color: rgba(0, 0, 0, 1);
    }
    p {
        width: 228.1px;
        height: 51px;
        font-size: 11.45px;
        font-weight: 400;
        line-height: 17.18px;
        margin-left: 26.72px;
        margin-top: 19.85px;
        color: rgba(51, 51, 51, 1);
    }
    img {
        margin-top: 30.54px;
        margin-left: 26.72px;
    }
}

.content-4{
    height: 364px;

    background-color: #F5F5F5;
 

    .cont-info{
        width: 913px;
        height: 100%;

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 auto;
        padding: 0 2%;

        h1 {
            letter-spacing: 8px;
            font-weight: 700;
            font-size: 42px;
            color: rgba(0, 0, 0, 1);
            margin-top: 70px;
        }

        p {
            width: 913px;
            height: 75px;
            font-weight: 500;
            font-family: 'inter', sans-serif;
            line-height: 25.36px;
            font-size: 16px;

            color: rgba(0, 0, 0, 1);
            margin-top: 23px;
        }
    }
}

.content-5{
    height: 763px;
    margin: 0 auto;
    .cont-text{
       
        display: flex;
        flex-direction: column;
        align-items: center;
        
        h1 {
            margin-top: 70px;
            color: rgba(0, 0, 0, 1);
            font-size: 32px;
            font-weight: 700;
        }
        p {
            margin-top: 6px;
            font-size: 14;
            font-weight: 500;
        }

        .direitos{
            margin-top: 87px;
        }

        .cont-form{
            width:557px;
            height: 347px;
            background-color: rgba(246, 247, 249, 1);
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;

            border-radius: 8px;

            margin-top: 62px;

           .form-align{
                margin-top: 50px;
           input {
                width: 409px;
                height: 42px;
                margin: 10px 0;
                border-radius: 8px;
                outline: none;
                padding: 0 13px;
                font-weight: 400;

                font-size: 16px;
                border: 1px solid rgba(187, 187, 187, 0.8);
             }

             input[type=submit]{
                color: white;
                font-weight: 700;
                background-color: $Azulado-claro-10;
                border: none;
                cursor: pointer;
             }

             input::placeholder{
                color: rgba(0, 0, 0, 1);
                font-weight: 500;
                font-size: 16px;
             }
             
           }
        }
    }

    .direitos > p {
        text-align: center;
    }
}


